/* Global ------------------------------------------------------------------- */
html {
  font: 12px/140% "Helvetica Neue", Arial, Verdana, Sans-Serif;
  color: #222;
  background: #f0f0f0; }

.container {
  width: 460px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, 'Helvetica Neue', Arial, Sans-Serif; }

a {
  color: #333; }
  a:hover {
    text-decoration: none; }

header {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 40px;
  color: #eee;
  background: url("../images/header.png"); }
  header h1 a {
    float: left;
    width: 70px;
    height: 50px;
    text-indent: -9001px;
    margin-left: -10px;
    outline: none;
    background: url("../images/logo.png") top center; }
    header h1 a:hover, header h1 a:focus {
      background-position: center center; }
    header h1 a:active {
      background-position: bottom center; }
  header .meta {
    float: right;
    margin-top: 16px;
    font-size: 10px; }
  header a {
    color: #eee; }

form.formtastic fieldset.inputs ol li {
  margin: 0 !important; }
  form.formtastic fieldset.inputs ol li.text label {
    display: block; }
  form.formtastic fieldset.inputs ol li.text textarea {
    height: 40px;
    width: 100%; }
form.formtastic#new_status {
  margin-bottom: 20px; }
form.formtastic#new_comment {
  margin-left: 40px; }

ul#wall li {
  margin-bottom: 20px;
  /* comments */ }
  ul#wall li span a {
    color: #999;
    font-size: 10px; }
  ul#wall li .actions {
    float: right; }
  ul#wall li ul {
    margin: 10px 0 0 40px; }
    ul#wall li ul li {
      margin-bottom: 5px; }

/* flashes --- */
.flash {
  padding: 7px;
  margin: -10px 0 20px; }
  .flash.notice {
    background: #cbf6d6;
    border-bottom: 1px solid #258f2b; }
  .flash.alert {
    background: #feffda;
    border-bottom: 1px solid #fae751; }
